# model
gpt2_model/
gpt2-chinese-cluecorpussmall/
longformer-base-4096/
longformer_gpt2_model/

# checkpoints
checkpoints/
runs/
*.pkl
epoch40/
LongformerGPT2/longformer-base-4096
LongformerGPT2/longformer_gpt2_model

# dataset
wikitext-103-raw/
ruozhiba_ruozhiba_ruozhiba.jsonl
wikitext-2/
ruozhiba_qa.json
COIG-CQIA/

# logs
logs/
wandb/

# python cache
.idea/
*/__pycache__/
**/__pycache__/
