# model
gpt2_model/
gpt2-chinese-cluecorpussmall/

# checkpoints
checkpoints/
runs/
*.pkl
epoch40/

# dataset
wikitext-103-raw/
ruozhiba_ruozhiba_ruozhiba.jsonl
wikitext-2/
ruozhiba_qa.json
COIG-CQIA/

# logs
logs/
wandb/

# python cache
**/__pycache__/