# model
gpt2_model/
checkpoints/
runs/
*.pkl
epoch40/
LongformerGPT2/gpt2_model
LongformerGPT2/longformer-base-4096
LongformerGPT2/longformer_gpt2_model

# dataset
wikitext-103-raw/
ruozhiba_ruozhiba_ruozhiba.jsonl
wikitext-2/

# logs
logs/
wandb/

.idea/
*/__pycache__/
